*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: #333333;
}

ul {
  list-style: none;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  align-items: center;
  font-size: 14px;
  color: #000;
}

nav ul li {
  margin-right: 1rem;
}

.nav-btn a:hover {
  color: white;
}

nav ul li {
  flex: 0 0 50px;
}

.nav-btn {
  background-color: #4285f4;
  color: white;
  padding: 8px 13px;
  flex: 0 0 70px;
  margin-left: 7px;
}

.li-images {
  margin-right: 25px;
}

.nine-dots {
  width: 4px;
  bottom: 5px;
  height: 4px;
  background-color: gray;
  box-shadow: 0px 7px 0 grey, 0px 14px 0 grey;
  position: relative;
  cursor: pointer;
}

.nine-dots::before {
  content: " ";
  position: absolute;
  width: 4px;
  height: 4px;
  cursor: pointer;
  left: -7px;
  background-color: gray;
  box-shadow: 0px 7px 0 grey, 0px 14px 0 grey;
}

.nine-dots::after {
  content: " ";
  position: absolute;
  width: 4px;
  cursor: pointer;
  height: 4px;
  left: 7px;
  background-color: gray;
  box-shadow: 0px 7px 0 grey, 0px 14px 0 grey;
}

.nine-dots:hover {
  background-color: black;
  box-shadow: 0px 7px 0 black, 0px 14px 0 black;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}

.google-logo {
  margin-bottom: 1rem;
}

.form-group {
  display: flex;
  width: 480px;
  height: 44px;
  background: #fff;
  justify-content: center;
  align-items: center;
  border: 1px solid #dfe1e5;
  border-radius: 30px;
}

.form-group:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

.search-icon {
  width: 15px;
  display: inline-block;
  flex: 0 0 30px;
  cursor: pointer;
  margin-left: 15px;
  margin-top: 7px;
}

.search-icon-svg {
  width: 23px;
  fill: #ababab;
}

.search-input {
  flex: 3 0 auto;
  border: none;
  height: 40px;
  font-size: 1.2rem;
}

input[type="text"] {
  font-size: 19px;
}

input {
  font-weight: lighter !important;
}

input:focus {
  outline: none;
}

.speech-icon {
  cursor: pointer;
  margin-right: 0.8rem;
  width: 30px;
  flex: 0 0 30px;
}

.speech-icon-svg {
  width: 24px;
}

.button-group {
  margin: 1.5rem auto;
}

.button-group .btn {
  border: none;
  display: inline-block;
  margin: 0 0.4rem;
  background-color: #f2f2f2;
  padding: 0.7rem 1rem;
  border: 1px solid #f2f2f2;
  color: gray;
  text-decoration: none;
}

.button-group .btn:hover {
  border: 1px solid #c6c6c6;
  color: #222;
  cursor: pointer;
}

.langs {
  display: flex;
  flex-wrap: wrap;
}

.intro {
  font-size: 14px;
}

.langs a {
  color: blue;
  font-size: 13px;
  margin: 0 5px;
}

footer {
  background-color: #f2f2f2;
  padding: 0.5rem 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: .5px solid #dbdbdb;
}

p.small-text {
  color: #585656b5;
  border-bottom: .5px solid #dbdbdb;
  font-size: 16px;
  padding: 10px;
}

.footer-links {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-links a {
  font-size: 14px;
  color: #5f6368;
  flex: 1 0 auto;
}

.link-items a {
  padding-right: 1rem;
}
